{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<head>
  <title>Debates</title>
</head>
{% block content %}
<body>
  <div class="container">
    <div class="jumbotron">
      <h1><span style="color:blue;">Hillary</span> vs. <span style="color:red;">Trump</span>: The Drinking Game</h1> 
      <p>Play at your own risk!</p> 
    </div>
  </div>

  <div class="container">
    <h2>Please complete the following for a personalized drinking experience.</h2>

   {{ wtf.quick_form(form) }}

  {% endblock %}