 {% extends "base.html" %}
 {% block content %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
 <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
 <div class="jumbotron">
 <div class="container">
 <h1>Customizable Drinking Games</h1>
  <p>What are you watching?</p>
  <p><a class="btn btn-primary btn-lg" href="_olympics" role="button">Rio Olympics 2016</a>
<a class="btn btn-primary btn-lg" href="_bip" role="button">Bachelor in Paradise</a></p>
<a class="btn btn-primary btn-lg" href="/" role="button">Create your own! (Coming soon)</a></p>
</div>
</div>

{% endblock %}