{% extends "base.html" %}
{% block content %}
<head>
  <title>BiP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
  <script>
    $( function() {
      $(document).tooltip();
    } );

  </script>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>2016 Rio Olympics: The Drinking Game</h1> 
      <p>Play at your own risk!</p> 
    </div>
  </div>

  <div class="container">
    <h2>Please complete the following for a personalized drinking experience.</h2>

    <form action="{{ url_for('get_form_olympics') }}" method="post">
      <div class="form-group">
        <label for="pwd">First name:</label>
        <input type="text" class="form-control" name="firstname" placeholder="Enter first name!"></input>
      </div>
      <div class="form-group">
        <label for="pwd">Weight:</label>
        <input type="password" class="form-control" name="weight" placeholder="Enter weight in lbs">
      </div>
        <div class="form-group">
        <label for="pwd">Hours:</label>
      <label class="radio-inline">
        <input type="radio" name="hours" value="1" checked>1
      </label>
      <label class="radio-inline">
        <input type="radio" name="hours" value="1.5">1.5
      </label>
            <label class="radio-inline">
        <input type="radio" name="hours" value="2">2
      </label>
            <label class="radio-inline">
        <input type="radio" name="hours" value="3">3
      </label>
      
      </div>
      <label class="radio-inline">
        <input type="radio" name="gender" value="male" checked>Male
      </label>
      <label class="radio-inline">
        <input type="radio" name="gender" value="female">Female
      </label>

      <div class="form-group">

        <h4>Which events are you watching?</h4>
        <div class="checkbox">
        <label><input type="checkbox" name="sports" checked value="general">Whatever's playing</label>
          <label><input type="checkbox" name="sports" value="swimming">Swimming</label>
          <label><input type="checkbox" name="sports" value="gymnastics_women">Gymnastics (women)</label>
           <label><input type="checkbox" name="sports" value="gymnastics_men">Gymnastics (men)</label>
          <label><input type="checkbox" name="sports" value="track">Track</label>
          <label><input type="checkbox" name="sports" value="basketball">Basketball</label>
          <label><input type="checkbox" name="sports" value="field_hockey">Field Hockey</label>
          <label><input type="checkbox" name="sports" value="equestrian">Equestrian</label>
          <label><input type="checkbox" name="sports" value="tennis">Tennis</label>
          <label><input type="checkbox" name="sports" value="golf">Golf</label>
          <label><input type="checkbox" name="sports" value="table_tennis">Table Tennis</label>
          <label><input type="checkbox" name="sports" value="beach_volleyball">Beach Volleyball</label>
          <label><input type="checkbox" name="sports" value="fencing">Fencing</label>
        </div>

      </div>
      <h4>What are you drinking?</h4>
      <div class="radio">
        <label><input type="radio" name="alc" value="0.13" checked>Wine (red)</label>
        <label><input type="radio" name="alc" value="0.12">Wine (white)</label>
        <label><input type="radio" name="alc" value="0.4">Vodka</label>
        <label><input type="radio" name="alc" value="0.12">Champagne</label>
        <label><input type="radio" name="alc" value="0.4">Whiskey</label>
        <label><input type="radio" name="alc" value="0.04">Beer</label>
      </div>
      <h4>How drunk do you want to be?</h4>
      <div class="checkbox">
        <label><input type="radio" id="buzzed" name="drunk" title="BAC=0.05" value="0.05" checked> Buzzed</label>
      </div>
      <div class="checkbox">
        <label><input type="radio" id="tipsy" name="drunk" value="0.1" title="BAC=0.1"> Tipsy</label>
      </div>
      <div class="checkbox">
        <label><input type="radio" id="hammered" name="drunk" value="0.18" title="BAC=0.18"> Hammered</label>
      </div>
      <div class="checkbox">
        <label><input type="radio" title="BAC=0.3" id="blackout" name="drunk" value="0.3"> Blackout</label>
      </div>

      <input type="submit" value="Submit"></form>

    </div>



    {% endblock %}